
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    color: white;
    justify-content: center;   
}

.img {
    margin-top: 10px;
}


.botao-home, .botao-ajuda{
    background-color: #11538C;
    color: white;
    font-size: medium;
    width: 500px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.user-info {
    display: flex;
    gap: 1em;
    align-items: center;
    
}

h2,h3{
display: flex;
text-align: center;
justify-content: center;
}
.user-icon i {
    font-size: 2em;
    color: #2196F3;
}

.user-name {
    color: #fff;
}


.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    background-color: #cacaca;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 1em ;
}

.section-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #2196F3;
   
}
.section-sub{
 color: #2196F3;
}
.filter {
    display: flex;
    gap: 1em;
}

.filter-label {
    font-weight: bold;
}

.filter-input {
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filter-select {
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    appearance: none;
    text-align: center;
}

.institutions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.institution {
    background-color: #f9f9f9;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.institution-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.institution-code {
    margin-bottom: 1em;
}

.institution-description {
    margin-bottom: 1em;
}

.institution-actions {
    display: flex;
    gap: 0.5em;
}

.institution-action {
    padding: 0.5em 1em;
    background-color: #2196F3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.final-action {
    background-color: #2196F3;
    color: #fff;
    padding: 1em 2em;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 2em;
}