header{
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

header img{
    width: 170px;
    border-radius: 5px;
}

.botao-home, .botao-ajuda{
    background-color: #11538C;
    color: white;
    font-size: medium;
    width: 500px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

#fundo-formulario{
    background-color: #6380A6;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

h2{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

form{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 45%;
    height: 65%;
    margin: 0 auto;
    margin-top: 25px;
    flex-direction: column;
    display: inline-block;
    justify-content: space-between;
}

tr td{
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}

.div{
    display: flex;
    justify-content: space-between;
}

input{
    background-color: rgb(231, 231, 231);
    border-radius: 7px;
    padding: 10px;
    height: 10px;
}

.confirmar {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.confirmar button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.proximo {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 10%;
}

.proximo button {
    background-color: #11538C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}